{% extends "base.html" %}

{% block page_title %}
  {{movie.title}}
{% endblock page_title %}

{% block content %}
<div class="py-48 flex justify-center itmes-center bg-cover rounded-2xl z-10 relative">
  <div class="bg-red-600 absolute w-full h-full top-0 left-0 bg-cover rounded opacity-50" style="background-image:url({{movie.cover_image.url}});"></div>
  <div class="flex flex-col items-center shadow-md rounded px-8 pt-6 pb-8 mb-4 border w-1/2 z-20">
    <div class="h-64 w-64 bg-auto bg-center" style="background-image:url({{movie.cover_image.url}})" ></div>
    <h2 class="font-bold mt-8 text-lg">{{movie.title}}</h2>
    <div class="flex items-center my-2 justify-between">
      <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.year}}</div>
      <div class="bg-orange-400 text-white px-3 shadow-md py-1 rounded-full mx-4">{{movie.category}}</div>
      <div class="px-3 shadow-md py-1 rounded-full mx-4 bg-white text-red-600 font-bold text-sm"><i class="fas fa-star text-red-500 text-xs mr-1"></i>{{movie.rating}}</div>
    </div>
    <div class="w-2/3">
      <div class="my-2 flex justify-between">
        <span class="font-semibold text-white">Director:</span>
        <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.director}}</div>
      </div>
      <div class="my-2 flex flex-col border py-3 px-1">
        <div class="font-semibold text-white">Cast</div>
        <div class="flex justify-center items-end flex-col">
          {% for i in movie.cast.all %} 
          <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700 w-3/4 tuncate">{{i}}</div> 
          {% endfor %}
        </div>
      </div>
      <div>
        {% if movie.reviews.count > 0 %}
        <div class="font-semibold text-white">Reviews <span class="ml-2 text-xs opacity-60">(All:{{movie.all_reviews.count}})</span></div>
        <div class="px-3 shadow-md py-1 rounded-full mx-4 bg-white text-gray-600 font-bold text-sm px-2 truncate">{{movie.get_first_reviews}}..</div>
        {% endif %}
      </div>
    </div>

    <div class="w-full flex justify-between mt-10">
      <div>
        <a class=" bg-red-400 hover:bg-red-600 text-white font-bold rounded p-2" href="{% url 'movies:update' movie.pk %}">
          <i class="fas fa-edit"></i>
          <span>Edit Movie</span>
        </a>
      </div>
      <div>
        <a href="{% url 'reviews:review' %}" class=" bg-red-400 hover:bg-red-600 text-white font-bold rounded p-2">
          <i class="fas fa-external-link-alt"></i>
          <span>See Reviews</span>
        </a>
      </div>
      <div>
        {% if user.is_authenticated %}
          {% include "mixins/fav_button.html" with obj=movie kind='movie' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}