{% extends "base.html" %}

{% block page_title %}
  {{person.name}}
{% endblock page_title %}

{% block content %}

<div class="py-64 flex justify-center itmes-center bg-cover rounded-2xl z-10 relative">
  <div class="bg-red-600 absolute w-full h-full top-0 left-0 bg-cover rounded opacity-50" style="background-image:url({{person.photo.url}});"></div>
  <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4 border w-1/2 z-20">
    <div class="flex flex-col items-center">
      <div class="h-64 w-64 bg-cover bg-center" style="background-image:url({{person.photo.url}})" ></div>
      <h2 class="font-bold mt-8 text-lg">{{person.name}}</h2>
      <div class="flex items-center my-2 justify-between">
        <div class="bg-orange-400 text-white px-3 shadow-md py-1 rounded-full mx-4">{{person.kind}}</div>
      </div>
    </div>
    <div class="border px-4 py-4 border-b-4 border-t-4">
      <div class="text-white font-bold bg-red-200 text-xl text-center rounded">Carrer</div>
      <div class="grid grid-cols-2 gap-2">
        {% if person.get_book.all > 0 %}
          {% for b in person.get_book %}
            {% include "mixins/book.html" with book=b %}
          {% endfor %}
        {% elif person.get_movie.all > 0 %}
          {% for m in person.get_movie %}
            {% include "mixins/movie.html" with movie=m %}
          {% endfor %}
        {% endif %}
      </div>
      <h1 class="py-6 text-white font-bold text-center text-xl">Looking for released Book or Movie</h1>
    </div>

    <div class="w-full flex justify-between mt-10">
      <div>
        <a class=" bg-red-400 hover:bg-red-600 text-white font-bold rounded p-2" href="{% url 'people:update' person.pk %}">
          <i class="fas fa-edit"></i>
          <span>Edit Person</span>
        </a>
      </div>
  
      {% if user.is_authenticated %}
      <div>
          {% include "mixins/fav_button.html" with obj=person kind='person' %}
        </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock content %}