{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<style>
		input, select {
			width: 100%;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			background-color: transparent;
    }
	</style>
	<title>{% block page_title %}{% endblock page_title %} | Nomad Media</title>
</head>

<body>
	<div class="bg-cover bg-center h-min-full" style="background-image: url('../static/media/logos/bg5.png')">
		<div class="contianer mx-auto px-20 py-20">
		  <div class="shadow-inner shadow-xl border border-b-2 border-r-2 border-l-2 border-t-2 border-solid px-10 py-10 border-white bg-center bg-cotain w-full">
			{% include 'partials/header.html' %} 
			{% block content %} {% endblock content %} 
		  </div>
		</div>
			{% include 'partials/footer.html' %}
	  </div>
</body>

</html>